{% extends "base.html" %}

{% block javascript_additional %}
    <script>
        $(document).ready(function(){
            $('input').popover({ 'trigger': 'focus'});
        })
    </script>
{% endblock %}

{% block content %}
<h1>Create a New Class</h1>

<form id="class_creation" action="/course/create/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form_section_wrapper">
    <fieldset>
        <legend>1. Password</legend>
        <div class="fieldset_desc">
            Choose a password for your class. Your students
            will use this password along with the class ID
            (automatically assigned after you submit this form)
            to join the class.
        </div>

        <div class="field_wrapper">
            <label for="id_password">Password <span class="req">*</span></label>
            <input id="id_password" type="text" name="password" maxlength="12" data-title="Class Password" data-content="Passwords should be at least 4 characters long, but no more than 12 characters. You may include letters, numbers, and punctuation.">
            {{ form.password.errors }}
        </div>
    </fieldset>
    </div>

    <div class="form_section_wrapper">
    <fieldset>
        <legend>2. Class Details</legend>
        <div class="fieldset_desc">
            To identify your class, fill in the following required details.
        </div>

        <div class="field_wrapper">
            <label for="id_code">Code <span class="req">*</span></label>
            <input id="id_code" type="text" name="code" maxlength="12" data-title="Class Code" data-content="Input the class code here, 30 characters max.  This can be an administrative code, but if you don't have one yet, you can use a placeholder, e.g., 'CLASS 1', or whatever makes sense. You can change this later.">
            {{ form.code.errors }}
        </div>

        <div class="field_wrapper">
            <label for="id_dept">Department <span class="req">*</span></label>
            <input id="id_dept" type="text" name="dept" maxlength="12" data-title="Class Department" data-content="Class department, 100 characters or less. Again, this is used to identify the class, so enter whatever makes sense.">
            {{ form.dept.errors }}
        </div>

        <div class="field_wrapper">
            <label for="id_designation">Designation / Title <span class="req">*</span></label>
            <input id="id_designation" type="text" name="designation" maxlength="12" data-title="Class Designation" data-content="The class&rsquo;s title slug: &ldquo;Writing &amp; Rhetoric&rdquo;, &ldquo;Poetry&rdquo;, etc. Up to 50 characters.">
            {{ form.designation.errors }}
        </div>
    </fieldset>
    </div>

    <div class="form_section_wrapper">
    <fieldset>
        <legend>3. Additional Information</legend>
        <div class="fieldset_desc">
            Additional class details. This information is optional and you can
            add it later, if you like.
        </div>

        <div class="field_wrapper">
            <label for="id_section">Section</label>
            <input id="id_section" type="text" name="section" maxlength="12" data-title="Class Section" data-content="Do you have a section code? Up to 20 characters allowed.">
            {{ form.section.errors }}
        </div>

        <div class="field_wrapper">
            <label for="id_room_no">Room No</label>
            <input id="id_room_no" type="text" name="room_no" maxlength="12" data-title="Classroom" data-content="Are y&rsquo;all gonna meet up somewhere? Up to 20 characters allowed.">
            {{ form.room_no.errors }}
        </div>

        <div class="field_wrapper">
            <label for="id_website">Associated Web Site Address</label>
            <input id="id_website" type="text" name="website" maxlength="12" data-title="Web Site" data-content="Enter an address for any other Web site associated with this class.">
            {{ form.website.errors }}
        </div>
    </fieldset>
    </div>

    <button type="submit">Create Class</button>
</form>
{% endblock %}
