{% extends "base.html" %}

{% block javascript_additional %}
<script type="text/javascript" src="/_/js/jquery.tools.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('input').popover({ 'trigger': 'focus'});
    });
</script>
{% endblock %}

{% block content %}
    <h1>Join a Class</h1>

    <form action="/course/join/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form_section_wrapper">
        <fieldset>
            <legend>1. Enter Class Information</legend>
            <div class="fieldset_desc">
                Enter the class ID and password supplied to you by your instructor
                or TA. After you submit this info, you'll be in!
            </div>

            <div class="field_wrapper">
                <label for="id_class_id">Class ID <span class="req">*</span></label>
                <input id="id_class_id" type="text" name="class_id" maxlength="12" data-title="Class ID" data-content="Input the class ID here. This will be provided by your instructor.">
                {{ form.class_id.errors }}
            </div>

            <div class="field_wrapper">
                <label for="id_class_password">Password <span class="req">*</span></label>
                <input id="id_class_password" type="text" name="class_password" maxlength="12" data-title="Class ID" data-content="Class password here.">
                {{ form.class_password.errors }}
            </div>
        </fieldset>
        </div>

        <button type="submit">Join This Class!</button>
    </form>
{% endblock %}
