@import "bootstrap";

$navbarBackground: #02a0d0;
$navbarBackgroundHighlight: #02a9dd;
$navbarLinkColor: #ff6766;
$navbarLinkColorHover: #f06060;

body {
    font-family: 'Cantarell', sans-serif;
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Lustria', serif; 
    }
}

.navbar {
    color: white;

    .brand {
        color: white;
        font-family: 'Lustria', serif;
    }

    .navbar-link {
        color: $navbarLinkColor;
        &:hover {
          color: $navbarLinkColorHover;
        }
    }
}

.navbar-inner {
    @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
}
