@import "bootstrap";

$navbarBackground: #02a0d0;
$navbarBackgroundHighlight: #02a9dd;
$navbarLinkColor: #ffd673;
$navbarLinkColorHover: #ffdf7f;

body {
    font-family: 'Cantarell', sans-serif;
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Lustria', serif; 
    }
}

.navbar {
    color: white;

    .brand {
        color: white;
        font-family: 'Lustria', serif;
    }
}

.navbar-text {
    a {
        color: $navbarLinkColor;
        &:hover { color: $navbarLinkColorHover }
    }
}

.navbar-inner {
    @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
}

.calendar {
    table { border-collapse: collapse; margin: 20px auto 0px auto; padding: 20px; width: 840px; }
    td { background: #669ec8; border: 1px solid white; color: black; height: 120px; max-width: 120px; padding: 10px; width: 120px; }
    th, .calendar .td { font-size: 16px; font-weight: normal; }
    th.month { font-size: 20px; padding-bottom: 20px; }
    td.noday { background: #aa8b30; }
    td.filled { background: #428ec8; color: white; }
    td.today { background: #f1d172; }
    td.today a { color: black; }
    a.month_link { font-size: 20px; margin: 0px 60px 0px 60px; }
}
