<!DOCTYPE HTML>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="W8EMynmnTAghhmVds3T6y1KEZHIXCn_UTn2qVf-Vt5Y" />

        <title>{% block title %}ClassWrite{% endblock %}</title>

        {# <link rel="stylesheet" type="text/css" href="/_/css/reset.css" /> #}
        {# <link rel="stylesheet" type="text/css" href="/_/css/smoothness/jquery-ui-1.8.11.custom.css" /> #}
        {# <link rel="stylesheet" type="text/css" href="/_/css/main.css" /> #}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />

        {% block css_additional %}{% endblock %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        {% block javascript_additional %}{% endblock %}
	</head>
    <body>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">ClassWrite</a>

                    <ul class="nav pull-right">
                        <li>
                            {% if user.is_authenticated %}
                            <p class="navbar-text">User: {{ user.username }} &#x2223; <a href="/dashboard/">Dashboard</a> &#x2223; <a href="/logout/">Logout</a></p>
                            {% else %}
                            <p class="navbar-text">Please log in <a rel="nofollow" id="google_login" href="/login/google-oauth/">via Google</a></p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <div id="content">
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
