{% extends "assignmenttemplate_form_template.html" %}

{% block form_title %}Create a New Assignment{% endblock %}
{% block form_action %}/assignment/create/{% endblock %}
{% block name_hint %}Enter the name of your assignment.{% endblock %}
{% block objectives_hint %}Enter assignment objectives here.{% endblock %}
{% block prompt_hint %}Enter the assignment prompt here.{% endblock %}
{% block rubric_hint %}The assignment rubric follows here.{% endblock %}
{% block submit_button_text %}Create Assignment{% endblock %}
