{% extends "base.html" %}

{% block css_additional %}
<link rel="stylesheet" type="text/css" href="/_/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/_/js/markitup/sets/markdown/style.css" />
{% endblock %}

{% block javascript_additional %}
<script type="text/javascript" src="/_/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/_/js/markitup/sets/markdown/set.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('textarea').markItUp(mySettings);

        $('input, textarea').popover({ 'trigger': 'focus' });
    });
</script>
{% endblock %}

{% block content %}
    <h1>Create Assignment Template</h1>
    <ul class="nav nav-pills">
        <li><a href="/home/">Home</a></li>
        <li><a href="/library/catalog">Library</a></li>
    </ul>

    <form id="assignment_template_creation" action="/assignment/create/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form_section_wrapper">
        <fieldset>
            <legend>1. Name</legend>
            <div class="field_wrapper">
                <input id="id_name" type="text" name="name" data-title="Assignment Name" data-content="What is the assignment's name?">
                {{ form.name.errors }}
            </div>
        </fieldset>
        </div>

        <div class="form_section_wrapper">
        <fieldset>
            <legend>2. Assignment Prompt</legend>
            <div class="field_wrapper">
                <textarea id="id_text" rows="10" cols="40" name="text" class="markItUpEditor" data-title="Assignment Text" data-content="What does the student have to do? In what order?"></textarea>
                {{ form.text.errors }}
            </div>
        </fieldset>
        </div>

        <button type="submit">Create Assignment</button>
    </form>

{% endblock %}
