{% extends "base.html" %}

{% block css_additional %}
<link rel="stylesheet" type="text/css" href="/_/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/_/js/markitup/sets/markdown/style.css" />
{% endblock %}

{% block javascript_additional %}
<script type="text/javascript" src="/_/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/_/js/markitup/sets/markdown/set.js"></script>
<script type="text/javascript" src="/_/js/jquery.simplyCountable.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('textarea').markItUp(mySettings)

        $('textarea#id_text').simplyCountable({ counter: '#chrm1', maxCount: 50000, overClass: 'go_red', safeClass: 'go_green' });
    });
</script>
{% endblock %}

{% block content %}
    <h1>{% block form_title %}{% endblock %}</h1>
    <ul class="nav nav-pills">
        <li><a href="/home/">Home</a></li>
        <li><a href="/library/catalog">Library</a></li>
    </ul>

    <form id="assignment_template_edit" action="{% block form_action %}{% endblock %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form_section_wrapper">
        <fieldset>
            <legend>1. Title</legend>
            <div class="fieldset_desc">
                {% block title_hint %}{% endblock %}
            </div>

            <div class="field_wrapper">
                <label for="id_title">Title <span class="req">*</span></label>
                {{ form.title }}
                <div class="tooltip">
                    What is the title of this syllabus?
                </div>
                {{ form.title.errors }}
            </div>
        </fieldset>
        </div>

        <div class="form_section_wrapper">
        <fieldset>
            <legend>2. Body Text</legend>
            <div class="fieldset_desc">
                {% block text_hint %}{% endblock %}
            </div>

            <div class="field_wrapper">
                <label for="id_text">Text :: <span id="chrm1" class="chars_remaining"></span> characters remaining</label>
                {{ form.text }}
                <div class="tooltip">
                    What does the student have to do? In what order?
                </div>
                {{ form.text.errors }}
            </div>
        </fieldset>
        </div>

        <button type="submit">{% block submit_button_text %}{% endblock %}</button>
    </form>

{% endblock %}
