{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<div class="subnav">
  <ul class="nav nav-pills">
      <li><a href="/library/catalog/">Library</a></li>
      <li><a href="/course/join/">Join a Class</a></li>    
      <li><a href="/course/create/">Create a New Class</a></li>
  </ul>
</div>

{% if messages %}
<div class="dashboard_section">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if instructor_classes %}
<div class="well">
    <h2>Instructor Classes</h2>
    <ul class="class_list">
    {% for course in instructor_classes %}
    <li><a href="/course/{{ course.id }}/overview/">{{ course.code }}</a> <span class="sep">::</span> 
        <a href="/course/{{ course.id }}/overview/">Overview</a> <span class="sep">&#x7c;</span> <a href="/course/{{ course.id }}/overview/#syllabus">Syllabus</a> <span class="sep">&#x7c;</span> <a href="/course/{{ course.id }}/overview/#assignments">Assignments</a> <span class="sep">&#x7c;</span> <a href="/course/{{ course.id }}/calendar/">Calendar</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="well">
    <h2>Student Classes</h2>
    {% if student_courses %}
    <ul class="class_list">
    {% for course in student_courses %}
    <li>{{ course.code }} :: Home &#x7c; Assignments &#x7c; Calendar &#x7c; Syllabus</li>
    {% endfor %}
    </ul>
    {% else %}
    <ul class="messages">
        <li class="info">You haven't taken any classes yet.</li>
    </ul>
    {% endif %}
</div>

{% endblock %}
