{% extends "base.html" %}

{% block title %}ClassWrite{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>ClassWrite</h1>

    <h2>Welcome to your writing studio.</h2>

    <p>ClassWrite's goal is to make broadly available a set of useful
    tools for classroom writing instruction, without requiring an
    expensive subscription or administrative buy-in. If part of your
    instruction involves the careful evaluation of student writing,
    especially in a variety of contexts &mdash; online (wikis, forums,
    blogs), formal (essays and research papers), creative (poetry,
    fiction, experimental) &mdash; then ClassWrite's tools are tailored
    to your needs.</p>
</div>
{% endblock %}
